*/__pycache__
__pycache__
.venv
*.env
*/.env
**/.env
database/.env
.env
build/build
dist/PFE-Roguelike/_internal
dist/PFE-Roguelike/.env
dist/Roguia/_internal
dist/Roguia/.env
# Pas le bon dossier :
dist/PFE-Roguelike/_internal/.env
dist/Roguia/_internal/.env
dist/.env
build/build/.env
build/.env

# Fichiers temporaires
*.swp
*.swo
*~

# Les Paquets / archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
# *.zip

# Les Logs 
*.log.env
